<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-5 mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= locals.userLogin.username %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                  <% if (locals.userLogin.role == 'admin') {%>
                    <li><a class="dropdown-item" href="/book">ListBook</a></li>
                    <% } %>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="card mt-3">
        <div class="card-header">
          Update Book
        </div>
        <div class="card-body">
          <form method="post" action="" enctype="multipart/form-data">
            <div class="form-group">
              <label class="mb-2">Name</label>
              <input type="text" class="form-control" name="name" value="<%= book.name %>" required>
            </div>
            <div class="form-group">
              <label class="mb-2">Category</label>
              <select name="categoryID" class="form-select" id="">
              <% categories.forEach(category => { %>
                <% if (category._id == book.category._id.toString()) {%>
                    <option value="<%= category._id %>" selected><%= category.name %></option>
                <% } else { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% } %>
              <% }) %>
            </select>
            </div>
            <div class="form-group">
              <label class="mb-2">Author</label>
              <input type="author" class="form-control" name="author" value="<%= book.author %>" required>
            </div>
            <div class="form-group">
                <label class="mb-2">Keyword</label>
                <input type="author" class="form-control" name="keyword" value="<%= book.keywords[0].keyword %>" required>
              </div>
              <div class="form-group">
                <label class="mb-2">Publisher</label>
                <select name="publisherID" class="form-select" id="">
                <% publishers.forEach(publisher => { %>
                    <% if (publisher._id == book.publisher._id.toString()) {%>
                        <option value="<%= publisher._id %>" selected><%= publisher.name %></option>
                    <% } else { %>
                        <option value="<%= publisher._id %>"><%= publisher.name %></option>
                    <% } %>
                <% }) %>
              </select>
              </div>
              <div class="form-group">
                <label class="mb-2">Upload Image</label>
                <input type="file" class="form-control" name="avatar" value="<%= book.avatar %>">
              </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</html>